.modal_content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    margin-bottom: 2.4rem;
}
.error_styles {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'Satoshi-500';
    color: #E41C11;
    margin: -2rem 0 0;
}

.error_border {
    border: 0.1rem solid #E41C11;
}