.modal_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.modal_header {
    margin-bottom: 2rem;
}
.error_styles {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'Satoshi-500';
    color: #E41C11;
}

.error_border {
    border: 0.1rem solid #E41C11;
}