.auth_container {
	box-sizing: border-box;
	width: 100%;
	overflow: auto;
}
.auth_layout {
	min-height: 100vh;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #FFFAF1;
	padding: 4rem 6.4rem;
	padding-bottom: 8rem;
	border-radius: 1.6rem;
}

@media screen and (max-width: 650px) {
		.auth_layout {
			padding-bottom: 0;
			padding: 4rem 2rem;		
		}
		.auth_container {
			padding: 1rem;
		}
	}

