.mob_view {
    display: block;
}

@media screen and (max-width: 650px) {
    .mob_view {
        display: none;
    }
    .dropdown {
        left: -11rem;
        top: 6rem;
        width: 16rem;
    }
}