.guests {
    display: flex;
}

@media screen and (max-width: 650px) {
    .guests {
        display: none;
    }
    .text {
        font-size: 1.6rem;
    }
    .text:nth-child(2), .text:nth-child(3) > .add_guests {
        display: none;
    }
    .wrapper {
        width: 35rem;
    }
}

@media screen and (max-width: 485px) {
    .wrapper {
        width: 28rem;
    }
}